
@{
}

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <img src="~/Image/paranque1-1589449025.jpg" width="400" class="img-fluid" asp-append-version="true" />
    </div>
</div>


