<h1 class="text-center">Weather Information</h1>

<div class="d-flex flex-column gap-5 container-fluid p-5">
    <label>Date: <span class="fw-bold"> April 6, 2025 (Monday)</span> </label>
    <label>Heat Index: <span class="fw-bold"> 31 DEGREE</span> </label>
    <label>Status: <span class="fw-bold"> Mostly Cloudy</span> </label>
    <label>Water Level: <span class="fw-bold"> NORMAL</span> </label>
</div>