html {
  font-size: 14px;
  box-sizing:border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
.home-box3{
    height:200px;
}

.sidebar,.mobile-sidebar,.topbar-mobile {
    background-color: #4B548B;
}
.nav-link {
    color: #AEE5D1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1.5vw;
}
.main-title {
    color: #4B548B;
}
.mobile-sidebar .nav-item:hover a {
    font-weight: bold;
    color: white !important;
}
.sidebar .nav-item:hover a {
    font-weight: bold;
    color: white !important;
}

.sidebar .nav-item:hover i {
    color: white !important;
    transform: scale(1.2);
    transition: transform 0.2s ease;
}
.logo-img {
    width: 15vw; /* Will scale based on viewport width */
    max-width: 100%;
    height: auto;
    transition: width 0.3s ease;
}
.mobile-logo-img {
    width: 14vw; /* responsive width */
    max-width: 140px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}




