html {
  box-sizing:border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  min-height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
.home-box3{
    height:200px;
}
.layout-container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}
.sidebar {
    width: 250px;
    min-width: 250px;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar,.mobile-sidebar,.topbar-mobile {
    background-color: #4B548B;
}
.nav-link {
    color: white;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1.2rem;
    text-align: center;
}
.time {
    font-size: 1.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-title {
    color: #4B548B;
}
.mobile-sidebar .nav-item:hover a {
    font-weight: bold;
    color: white !important;
}
.nav-item-a {
    
}
.sidebar .nav-item:hover a {
    font-weight: bold;
    color: #aee7d0;
}

.nav-link.active-custom {
    color: #aee7d0 !important;
    font-weight: bold;
}

.sidebar .nav-item:hover i {
    color: white !important;
    transform: scale(1.2);
    transition: transform 0.2s ease;
}
.nav-item i {
    font-size: 2em;
}
.main-content {
    flex-grow: 1;
    overflow-x: auto;
}





